{% extends "layout.html" %}
{% block title %}

{{book.title}} ({{book.year}})

{% endblock %}


{% block body %}


<div class="jumbotron">
  <h1 class="display-4">{{book.title}} ({{book.year}})</h1>
  <p class="lead">Written by: {{book.author}}</p>
  <hr class="my-4">
  <p>isbn: {{book.isbn}}</p>
</div>


{% if session.get('logged_in') %}
  <p>POST A COMMENT</p>
    <form action="{{ url_for('book',isbn=book.isbn)}}" method="POST">
      <textarea name="review" rows="8" cols="70"></textarea>
      <p name="book_isbn">{{book.isbn}}</p>
      <button class="btn btn-primary">Submit</button>
    </form>

{% else %}
  <p>LOGIN TO POST A COMMENT</p>

{% endif %}



{% endblock %}
