{% extends "layout.html" %}

{% block title %}
Register for this website
{% endblock %}



{% block body %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {% if message == "Passwords don't match" or message == "Username already taken" %}
      <div class="alert alert-danger" role="alert">
          {{message}}
      </div>
        {% endif %}


        {% endfor %}
        {% endif %}
  {% endwith %}

<p>Sign up</p>
<form action="{{ url_for('register') }}" method="POST">
  <div class="form-group">
    <input class="form-control" name="username" placeholder="New username">
  </div>
  <div class="form-group">
    <input class="form-control" name="password" type="password" placeholder="New password">
  </div>
  <div class="form-group">
    <input class="form-control" name="password2" type="password" placeholder="Retype your password"
  </div>

   <div style="padding-top:1em"class="form-group">
      <button class="btn btn-primary">sign up</button>
  </div>
  </form>





{% endblock %}
