{% extends "layout.html" %}

{% block title %}
  Search for books
{% endblock %}

{% block body %}

    <h2>Search for books</h2>
<form action="{{ url_for('search') }}" method="POST">
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <input class="form-control" name="searchquery" placeholder="Search for Books by name, author, year or isbn...">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <button class="btn btn-primary">
          Search
          <i style="font-size:1 rem;"class="material-icons">
            search
          </i>
        </button>

      </div>
    </div>
  </div>
</form>


{% endblock %}
